*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.hero{
    min-height: 100vh;
    width: 100%;
    background-color: floralwhite;
    background-image: url(https://media1.giphy.com/media/gMirGc1JyjoyY/giphy.gif?cid=ecf05e478qw20sxj1963025xu6fbrjp7eqras4a9d9y51ri2&rid=giphy.gif&ct=g);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    color: rgb(57, 55, 55);
    padding: 0 8%;
}